.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin:auto;
 
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.header-top {
  background-color: rgb(107, 104, 104);
  height: 100px;
}
.col-6 {
  flex:0 0 50%;
  max-width: 50%;
}