
.container {
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
  margin-top: 21px;
 
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.header-top {
  // background-color: rgb(107, 104, 104);
  height: auto;
}
.col-6 {
  flex:0 0 50%;
  max-width: 50%;
  .Nav-bar{
    padding-left: 140px ;
    
    .Nav-link{
      font-weight: bold;
      color: #212122;
      padding-top: 20px;
    }
    .try-it-now {
      background: #e2e8ed;
      border-radius: 30px;
      height: 45px;
      width: 114px;
      font-weight: bold;
      border: none;
    
      }
      .try-it-now:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
      .Nav-link:hover{color: #18c2df;}
      }
   .logo {
    width: 200px;
    height: 48px;
  }
}

.slogan{
  margin-top: 100px;
  .slogan1{
    font-size: 85px;
    font-weight: bold;
    text-align: center;
    margin-top: -40px; 
  }
  .slogan2{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
  }
  .register{
    display: flex;
    margin-left: 176px;
    margin-top: -28px;
    
  }
  .btn-try-it-now {
    background: #128aed;
    border-radius: 30px;
    height: 64px;
    width: 159px;
    font-weight: bold;
    border: none;
    font-size: 21px;
    color: white;
  }
  .btn-try-it-now:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .div_btn-try-it-now{
    padding-left: 212px;
    padding-top: 74px;
  }
  .icon2 {
    padding-left: 212px; 
  }
  .icon1{
    padding-top: 94px;
  }
}
.all-your-chats-in-one-app{
  height: auto;
  width: auto;
  background: #C4D7E5;
  border-radius: 40px;
  margin-top: 70px;
  display: flex;
  .col-12{
    flex:0 0 50%;
  max-width: 50%;
  .col-container {
    padding-left: 50px;
    padding-top: 50px;
    .slogan3{
      font-size: 60px;
    font-weight: bold;
    margin-top: 27px;
    padding-right: 120px;
    line-height: 60px;
    }
    .slogan4{
      font-weight: 500;
      font-size: 20px;
      margin-top: 50px;
      color: rgb(77 84 93 );
      line-height: 26px;
    }
  }
  .mockup-iphone{
    height: 480px;
    width: 390px;
    margin-left: 119px;
    margin-top: 40px;
  }
  }
}
.safety{
  height: 504px;
  width: auto;
  background: #B6DBD0;
  border-radius: 40px;
  margin-top: 70px;
  line-height: 95px;
  .text1{
    font-weight: bold;
    font-size: 88px;
    color: rgb(25 98 76);
    padding-top: 70px;
    padding-left: 50px;
  }
  .text2{
    font-weight: bold;
    font-size: 88px;
    
    padding-left: 50px;
  }
}
.question{
  display: flex;
  margin-top: 70px;
  .title{
    width: 40%;
    font-size: 64px; 
    line-height: 64px;
    font-weight: bold;
 
  }
  .detail{
    width:60%;
    .btn-q{
      background: white;
      color: black;
      font-weight: 500;
      font-size: 24px;
      border: none;
      --bs-btn-active-bg: none;
      text-align: left;
      padding:20px 0px;
   
    }
    .answer {
      font-size: 20px;
    }
    .each-question {
      border-bottom: 1px solid grey;
    }
  }
}
.footer{
  height: auto;
  width: 100%;
  background: #1a1c22;
  margin-top: 70px;
  .top-footer {
    display: flex;
    // height: 500px;
    padding-top: 50px;
    padding-bottom: 30px;
    .col-25{
      width: 25%;
      .logo-white{
        height: 48px;
        width: 200px;
      }
      .head-footer{
        color: rgb(255 255 255);
        padding: 10px;
        list-style: none;
        font-weight: bold;
      }
      .text-footer{    
        padding: 10px;
        list-style: none;        
        font-weight: 400;
        & > a{
          text-decoration: none;
          color: rgb(161 161 170);
        }
      }
    }
  }
  .bottom-footer{
    color: rgb(161 161 170);
    border-top: solid 1px;
    font-size: .875rem;
   padding:20px 0;
  }
}



